body {
  font-family: 'Poppins', 'sans-serif';
}

p, td {
  color: #44474e
}

input:focus-visible,
select:focus-visible {
  outline: none;
}

.bg-blue {
  background-color: #2770df;
}

.bg-yellow {
  background-color: #faeec7;
}

.cl-yellow {
  color: #ac8743;
}

.cl-blue {
  color: #2770df;
}

.cl-red {
  color: #fd7c7c;
}

.cl-green {
  color: #02c09a;
}

.border-1 {
  border-width: 1px;
}

.border-y-1 {
  border-top-width: 1px;
  border-bottom-width: 1px;
}

.border-b-1 {
  border-bottom-width: 1px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2770df;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2770df;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
