body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  display: flex;
  background-color: #e7fcd9;
}

body * {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 16px 0 8px;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}

.title {
  text-align: center;
}

.content {
  width: 100%;
  max-width: 1024px;
  flex-wrap: wrap;
}

.table-wrapper {
  width: 100%;
  overflow-x: scroll;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table th.rank,
.styled-table td.rank {
  width: 40px;
}

.styled-table th:not(.rank),
.styled-table td:not(.rank) {
  min-width: 80px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr .red {
  color: rgb(248, 105, 105);
}

.styled-table tbody tr .green {
  color: #009879;
}

.styled-table tbody tr:nth-of-type(odd) {
  background-color: #fff;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}


/* Checkbox */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



.toolbar {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 12px 24px;
  margin-top: 8px;
  background-color: #f3f3f3;
}

.filters > * {
  width: 100%;
}

.search-button, .filter-button {
  cursor: pointer;
  background-color: #4CAF50;
  border: none;
  color: white;
  width: fit-content;
  padding: 8px 12px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  line-height: 1.25em;
  display: flex;
  align-items: center;
}

.search-input {
  width: 100%;
}

.notice {
  padding: 10px;
  margin: 10px 0;
  background-color: #faf6bc;
  color: rgb(212, 170, 1);
  font-size: 12px;
}

.switch-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}